/* -------------- GENERELLE INDSTILLINGER OG BASICS -------------------*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}


::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
}

video {
    width: 100%;

}

html {
    scroll-behavior: smooth;
}

.hide {
    display: none;
    transition: 1s;
}

/*----------------- FARVER-------------*/

.lightblue {
    background-color: #bee0d9;
}

.darkblue {
    background-color: #093a82;
}

.yellow {
    background-color: #fac177;
}

.lightbluefont {
    color: #bee0d9;
}

.darkbluefont {
    color: #093a82;
}

.yellowfont {
    color: #fac177;
}

.spacer {
    height: 60px;
}

/* -------------------- NAV---------------------*/
#desktop nav a {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #093a82;
    padding-left: 20px;
    text-align: right;
    transition: 0.5s;
}

#desktop nav a:hover {
    color: #fac177;
    transition: 0.5s;
}

#desktop nav {
    margin-top: 20px;
    text-align: right;
    margin-right: 50px;
}

/* -------------------nav til burgermenu---------- */

.button_container {
    position: relative;
    top: -1vw;
    height: 27px;
    width: 35px;
    cursor: pointer;
    /*    -webkit-transition: opacity .25s ease;*/
    transition: opacity .25s ease;
    z-index: 100;
    pointer-events: auto;
}

.button_container.active .top {
    /*    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);*/
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: #000;
}

.button_container.active .middle {
    opacity: 0;
    background: #000;
}

.button_container.active .bottom {
    /*    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);*/
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #000;
}

.button_container span {
    background: #000000;
    border: none;
    height: 2px;
    width: 80%;
    position: absolute;
    top: 5px;
    left: 0;
    /*    -webkit-transition: all .35s ease;*/
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 13px;
}

.button_container span:nth-of-type(3) {
    top: 21px;
}

.overlay {
    position: fixed;
    background-color: #bee0d9;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    /*    -webkit-transition: opacity .35s, visibility .35s, height .35s;*/
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 90;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {

    animation: fadeInRight .5s ease forwards;

    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    /*    -webkit-animation-delay: .4s;*/
    animation-delay: .4s;
}


.overlay nav {
    position: relative;
    top: 50%;
    /*    -webkit-transform: translateY(-50%);*/
    transform: translateY(-50%);

    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #093a82;
    text-align: left;
    left: 20px;


}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.overlay li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;

    font-size: 1.2rem;
}

.mobile_nav {
    padding: 20px;
    min-height: 30px;
}

/*
.current_page {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(234, 104, 45);
    color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
}
*/
.mobile_nav a {
    color: #093a82;
    padding: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.5s;
    padding-right: 20px;
    font-weight: 500;
    font-family: futura-pt, sans-serif;
    z-index: 10000;
}

.mobile_nav a:hover {
    color: #fac177;
}


/*
.hidden {
    display: none;
}*/



/* -------------- CSS TIL SPLITSCREEN --------------*/

section {
    scroll-snap-align: start;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scroll_snap_type_y_mandatory {
    scroll-snap-type: y mandatory;
    /* Her definerer vi en class med scroll på y-aksen og den skal altid snappe. */
}

.container_left {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    /* Her definerer vi at al indhold skal vises idet man scroller ned */
}

.container_right {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
}

.section_left {
    width: 100%;
    height: 100vh;
}

.section_right {
    width: 100%;
    height: 100vh;
}

/*------------------- MOBILE --------------------------------------*/

.mobilesection {

    height: 100vh;
    scroll-snap-align: start;
    overflow-y: scroll;
}

#mobile {
    scroll-snap-type: y mandatory;

}

.beergallerymobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 30px;
    grid-column-gap: 50px;
    margin: 30px 30px 100px 30px;
    overflow: hidden;
    height: 80vh;
    max-width: 800px;
    max-height: 100%;
    max-width: 100%;

}

.beergallerymobile img {
    transform: rotate(40deg);
    width: 100%;
}

#mobile button {
    margin-left: 10vw;

}

/*----------- TEKST-----------*/

#mobile h2 {
    margin: 10vw 10vw 1vw 10vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
}

#mobile h1 {
    margin: 55vh 10vw 0vw 8vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: left;
}

#mobile #nultextmobile {
    font-size: 3.5rem;
    margin-top: 0vw;

}

#mobile .videotekst_mobile {
    font-size: 4rem;
}


#mobile p {
    margin: 10vw 10vw 10vw 10vw;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.placeholdervideo_mobile {
    padding: 10vw;
}

#mobilesection1 {
    background-image: url(imgs/tuborgnulpack_blurres.png);
    background-size: 250%;
    background-position: center;

}

#mobilesection5 {
    height: 90vh;
}

#mobilesection2 {
    height: 89vh;
    overflow: hidden;
}

#mobilesection4 {
    height: 94vh;
    overflow: hidden;
}

#mobilesection6 {
    text-align: center;
    height: 80vh;
}

#mobilesection7 {
    overflow: hidden;
    height: 50vh;
}

#mobilesection8 {
    text-align: center;
    height: 70vh;

}

#mobilesection8 button {
    margin: 0;

}


#mobile .kodebuttonmobile {
    margin-left: 10px;
    background-color: #093a82;
    color: #bee0d9;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;

}

/*
.mobilescrollsnap {
    scroll-snap-type: x mandatory;

    overflow-x: scroll;
    display: flex;
}

.mobilescrollsnap img {
    scroll-snap-align: center;
    width: auto;
    height: 400px;
    padding: 100px;

}
*/



/*------------------- MOBILE SLUT --------------------------------------*/



/*-------------------- DESKTOP --------------------------------------*/

.menuheader {
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: 100vw;
    height: 60px;
    background-color: #bee0d9;
    top: 0;

}

.backgroundphoto {
    background-image: url(imgs/corona_beer.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.beergallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px;
    grid-column-gap: 50px;
    margin: 30px 30px 100px 30px;
    overflow: hidden;
    height: 84vh;
    max-width: 800px;
    max-height: 100%;
    max-width: 100%;
}

.beergallery img {
    transform: rotate(40deg);
    width: 100%;
}

.tuborgbutton {
    margin-left: 4vw;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #093a82;
    height: 50px;
    border: 0;
    transition: 0.5s;

}

.tuborgbutton a {
    color: #fac177;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    transition: 0.5s;
}

.tuborgbutton a:hover {
    color: #093a82;
    transition: 0.5s;

}

.tuborgbutton:hover {
    background-color: #fac177;
    transition: 0.5s;
}



#desktop .beerimg {
    height: 500px;
    width: 280px;
    background-image: url(imgs/tuborgdaase.png);
    background-size: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 0px;
}

#desktop .beerimg2 {
    height: 500px;
    width: 132px;
    background-image: url(imgs/tuborgflaske.png);
    background-size: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 0px;
}

.inputkode {

    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;

}

.inputkodemobile {

    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;

}



.inputemail {

    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    margin-top: 0;
    text-transform: uppercase;
}

.inputemailmobile {

    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    margin-top: 0;
    text-transform: uppercase;
}


.kodebutton {
    background-color: #bee0d9;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
    transition: 0.5s;
}

#desktop .kodemessage {
    margin-bottom: 20px;
}

.kodebutton:hover {
    background-color: #fac177;
    transition: 0.5s;
}

#section1right {
    background-image: url(imgs/tuborgnulpack_blurres.png);
    background-size: 250%;
    background-position: center;
    border-left: 1px solid white;

}

#section1left {
    background-image: url(imgs/kasser_blurred.png);
    background-size: 240%;
    background-position: center;
    border-right: 1px solid white;

}

.placeholdervideo {
    padding: 2vw;
    margin-top: 15vh;
}

#desktop .videotekst {
    font-size: 5rem;
    margin-top: 22vh;

}

#desktop .smagtekst {
    font-size: 1.7rem;

    font-weight: 400;
}

#smag .spacer {
    height: 25vh;
}

#section4 .spacer {
    height: 15vh;
}



/*------------ TEKST ---------*/


#desktop h2 {
    margin: 4vw 4vw 1vw 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
}

#desktop h1 {
    margin: 4vw 4vw 1vw 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 10rem;
    text-align: center;
    margin-top: 31vh;
    transition: 1s;
}

#desktop p {
    margin: 2vw 4vw 4vw 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}


#desktop #nultext {

    font-size: 5rem;
    margin-top: 37vh;

}



.circlefull {
    background-image: url(imgs/circlefull.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;

}

.circleempty {
    background-image: url(imgs/cirkleempty.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#desktop .flaskeword {
    position: absolute;
    top: -28px;
    left: 20px;
    transition: 1s;
    color: #093a82;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;

}

#desktop .daaseword {
    position: absolute;
    top: 18px;
    left: 20px;
    transition: 1s;
    color: #093a82;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.changeimg {
    position: relative;
    top: 38vh;
}

#myvideo {
    position: absolute;
    top: 15vh;
    left: 0;
    z-index: 1000;
    width: 100%;
    border-top: 20px solid #fac177;
    border-bottom: 20px solid #fac177;
    padding: 30px;
}

#myvideo2 {
    width: 140%;
    object-position: right;
    position: relative;
    left: -15vw;


}

#section3 {
    overflow: hidden;
    position: relative;

}

#section4 {
    text-align: center;
}

.tuborglogo {
    position: absolute;
    width: 80px;
    top: -10px;
    left: 0px;
    margin: 0;
}

#desktop .tuborgnullogo {
    position: absolute;
    top: 10px;
    left: 20px;

    color: #093a82;
    font-size: 2rem;
    margin: 0;
}

/*---------- QUIZ----------------------- */

#knap {
    border: none;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #093a82;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    color: #bee0d9;
    transition: 0.5s;
}

#knap:hover {
    background-color: #bee0d9;
    color: #093a82;
    transition: 0.5s;
}

#knapmobile {
    border: none;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #093a82;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    color: #bee0d9;
    transition: 0.5s;
}




#inputfelt {
    border: none;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #bee0d9;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 20px 60px 20px 30px;
    border-radius: 40px;
    color: #093a82;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#inputfeltmobile {
    border: none;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #bee0d9;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 20px 60px 20px 30px;
    border-radius: 40px;
    color: #093a82;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#quiz {
    text-align: center;
}

#desktop #sporgsmal {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #093a82;
    font-size: 1.4rem;
    margin-bottom: 50px;
    margin-top: 80px;
}

#desktop .quizheader {
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
}

#desktop .quizsvar {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    color: #093a82;

}

/*-------------------- DESKTOP SLUT --------------------------------------*/

/*---------- ANIMATIONER----------------------- */
.fadeout {
    animation-name: fadeout_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}

.fadein {
    animation-name: fadein_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*---------- MEDIA QUIERIES ----------------------- */

@media only screen and (min-width:600px) {

    #mobile {
        display: none;
    }
}

@media only screen and (max-width:600px) {

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}
