/* -------------- GENERELLE INDSTILLINGER OG BASICS -------------------*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}


::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
}

video {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.hide {
    display: none;
    transition: 1s;
}

/*----------------- FARVER-------------*/

.lightblue {
    background-color: #bee0d9;
}

.darkblue {
    background-color: #093a82;
}

.yellow {
    background-color: #fac177;
}

.lightbluefont {
    color: #bee0d9;
}

.darkbluefont {
    color: #093a82;
}

.yellowfont {
    color: #fac177;
}

.spacer {
    height: 60px;
}

/* -------------------- NAV---------------------*/
nav a {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #093a82;
    padding-left: 20px;
    text-align: right;
    transition: 0.5s;
}

nav a:hover {
    color: #fac177;
    transition: 0.5s;
}

nav {
    margin-top: 20px;
    text-align: right;
    margin-right: 50px;
}

/* -------------- CSS TIL SPLITSCREEN --------------*/

section {
    scroll-snap-align: start;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scroll_snap_type_y_mandatory {
    scroll-snap-type: y mandatory;
    /* Her definerer vi en class med scroll på y-aksen og den skal altid snappe. */
}

.container_left {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    /* Her definerer vi at al indhold skal vises idet man scroller ned */
}

.container_right {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
}

.section_left {
    width: 100%;
    height: 100vh;
}

.section_right {
    width: 100%;
    height: 100vh;
}

/*------------------- MOBILE --------------------------------------*/

.mobilesection {

    height: 100vh;
    scroll-snap-align: start;
    overflow-y: scroll;
}

#mobile {
    scroll-snap-type: y mandatory;

}

.beergallerymobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 30px;
    grid-column-gap: 50px;
    margin: 30px 30px 100px 30px;
    overflow: hidden;
    height: 80vh;
    max-width: 800px;
    max-height: 100%;
    max-width: 100%;
}

.beergallerymobile img {
    transform: rotate(40deg);
    width: 100%;
}

#mobile button {
    margin-left: 10vw;

}

/*----------- TEKST-----------*/

#mobile h2 {
    margin: 10vw 10vw 1vw 10vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
}

#mobile h1 {
    margin: 55vh 10vw 0vw 8vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: left;
}

#mobile #nultextmobile {
    font-size: 3.5rem;
    margin-top: 0vw;

}


#mobile p {
    margin: 10vw 10vw 10vw 10vw;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

/*------------------- MOBILE SLUT --------------------------------------*/



/*-------------------- DESKTOP --------------------------------------*/

.menuheader {
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: 100vw;
    height: 60px;
    background-color: #bee0d9;
    z-index: 10000;

}

.backgroundphoto {
    background-image: url(imgs/corona_beer.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.beergallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px;
    grid-column-gap: 50px;
    margin: 30px 30px 100px 30px;
    overflow: hidden;
    height: 84vh;
    max-width: 800px;
    max-height: 100%;
    max-width: 100%;
}

.beergallery img {
    transform: rotate(40deg);
    width: 100%;
}

.tuborgbutton {
    margin-left: 4vw;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #093a82;
    height: 50px;
    border: 0;
    transition: 0.5s;

}

.tuborgbutton a {
    color: #fac177;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    transition: 0.5s;
}

.tuborgbutton a:hover {
    color: #093a82;
    transition: 0.5s;

}

.tuborgbutton:hover {
    background-color: #fac177;
    transition: 0.5s;
}



#desktop .beerimg {
    height: 500px;
    width: 280px;
    background-image: url(imgs/tuborgdaase.png);
    background-size: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 0px;
}

#desktop .beerimg2 {
    height: 500px;
    width: 132px;
    background-image: url(imgs/tuborgflaske.png);
    background-size: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 0px;
}

.inputkode {
    margin-left: 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;

}

.kodebutton {
    background-color: #bee0d9;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
}

#section1right {
    background-image: url(imgs/corona_beeblurred.jpg);
    background-size: cover;
}


/*------------ TEKST ---------*/


#desktop h2 {
    margin: 4vw 4vw 1vw 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
}

#desktop h1 {
    margin: 4vw 4vw 1vw 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 10rem;
    text-align: center;
    margin-top: 31vh;
    transition: 1s;
}

#desktop p {
    margin: 2vw 4vw 4vw 4vw;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}


#desktop #nultext {

    font-size: 5rem;
    margin-top: 37vh;

}



.circlefull {
    background-image: url(imgs/circlefull.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;

}

.circleempty {
    background-image: url(imgs/cirkleempty.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#desktop .flaskeword {
    position: absolute;
    top: -28px;
    left: 20px;
    transition: 1s;
    color: #093a82;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;

}

#desktop .daaseword {
    position: absolute;
    top: 18px;
    left: 20px;
    transition: 1s;
    color: #093a82;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.changeimg {
    position: relative;
    top: 38vh;
}

#myvideo {
    position: absolute;
    top: 0;
    left: 0;
    /*
    min-width: 100%;
    min-height: 100%;
*/
    /*    height: auto;*/
    /*    width: 120%;*/

    z-index: 1000;
}

#section3 {
    overflow: hidden;
    position: relative;

}

/*---------- QUIZ----------------------- */

#knap {
    border: none;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #093a82;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    color: #bee0d9;
    transition: 0.5s;
}

#knap:hover {
    background-color: #bee0d9;
    color: #093a82;
    transition: 0.5s;
}



#inputfelt {
    border: none;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #bee0d9;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 20px 60px 20px 30px;
    border-radius: 40px;
    color: #093a82;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#quiz {
    text-align: center;
}

#desktop #sporgsmal {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #093a82;
    font-size: 1.4rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

#desktop .quizheader {
    text-align: center;
    font-size: 4rem;
    margin-top: 60px;
}

#desktop .quizsvar {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    color: #093a82;

}

/*-------------------- DESKTOP SLUT --------------------------------------*/

/*---------- ANIMATIONER----------------------- */
.fadeout {
    animation-name: fadeout_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}

.fadein {
    animation-name: fadein_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*---------- MEDIA QUIERIES ----------------------- */

@media only screen and (min-width:600px) {

    #mobile {
        display: none;
    }
}

@media only screen and (max-width:600px) {

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}
